<!DOCTYPE html>
<html>
  <head>
    <title>Foto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <%= render(:partial => "layouts/navig")%>
  <% flash.each do |name, msg| %>
        <div class="notice">
          <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
        </div>
  <% end %>
    <%= yield %>
    </div>
  </body>
</html>
